body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.body-part {
  width: 800px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(144, 210, 248, 0.3);
}

.navigation {
  display: flex;
  height: 50px;
  align-items: center;
  vertical-align: text-top;
  box-shadow: 0 2px 4px rgba(144, 210, 248, 0.15);
}


.search {
  flex: 1;
}

.logo {
  width: 40px;
  border-radius: 25px;
  display: flex;
  margin-left: 15px;

}

.search-bar {
  width: 130px;
  height: 35px;
  padding-left: 15px;
  margin-left: 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 4px rgba(144, 210, 248, 0.3);
  font-size: large;
}

.search-icon {
  vertical-align: top;
  margin-top: 0;
  margin-left: 5px;
  width: 30px;
  height: 35px;
  border-radius: 17px;
  padding: 0;
  border: none;
  box-shadow: 0 2px 4px rgba(144, 210, 248, 0.3);
}

button {
  background-color: white;
  height: 40px;
}

.current {
  border: none;
  height: 35px;
  width: 80px;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(144, 210, 248, 0.3);
  font-size: large;
}

.city-name {
  flex: 1;
}

.cityName {
  text-align: center;
  margin: auto;
  padding: 3px;
  font-size: larger;
}

.time {
  width: 120px;
}

.current-time {
  margin: auto;
  text-align: center;
  padding: 1px;
  font-size: 18px;
}

.source_code {
  width: 40px;
  align-items: center;
}

.source_code_container {
  width: 50px;
}

.source_code_text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-size: 10px;
}

.source_code:hover .source_code_text {
  opacity: 1;
}

.weather-part {
  display: flex;
  margin-top: 5px;
}

.body-first {
  flex: 1;
  display: flex;
}

.c_city {
  margin: 0px 0px 0px 15px;
}

.first-column {
  flex: 2;
}

.day_current {
  flex: 3;
}

.day_ctof {
  display: flex;
  flex: 0.5;
}

.ctof {
  display: flex;
  margin-left: 50px;
}

.celcius,
.fahrenheit {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 25px;
}

.second-column {
  flex: 1;
}

.day {
  margin: 15px 0px 1px 20px;
}

.c-weather {
  margin: 0;
  margin: 5px 0px 15px 15px;
}

.current-weather {
  width: 140px;
  border-radius: 150px;
  margin: 25px 0px 15px 25px;
}


.degree {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  margin-top: 75px;
}

.degree p {
  margin-top: 15px;
}

.body-end {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-row,
.lower-row {
  display: flex;
}


.humidity,
.wind,
.air,
.umbrella {
  width: 180px;
  box-shadow: 0 3px 7px rgba(144, 210, 248, 0.2);
  border-radius: 10px;
  margin: 10px;
}

.measurement {
  width: 30px;
  height: px;
  display: block;
  margin-top: 25px;
  margin: 20px auto 10px auto;
}

.text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.text1 {
  text-align: center;
  margin-top: 0px;
}

.focus {
  display: flex;
  box-shadow: 0 -2px 4px rgba(144, 210, 248, 0.15);
}

.forecast-item {
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px 0px 15px 0px;
  color: #333;
  margin: 3px;
}

.forecast-item p {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 18px;
  color: #666;
}

.focus-image {
  width: 85px;
  height: 85px;
  border-radius: 75px;
  border-radius: px;
  margin: 3px;
}